# JWT AUTH
LOGIN_SECRET_KEY=
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=30

# FILE STORAGE
BASE_OUTPUT_DIR=./outputs

# TEXT SAFETY
TOXICITY_THRESHOLD=0.3

# Speech model variant
WHISPER_MODEL_SIZE=large-v3
# output dir
BASE_AUDIO_DIR=./audio


# DB
MY_SQL_USER =
MY_SQL_PASSWORD =
MY_SQL_HOST =
MY_SQL_PORT =
MY_SQL_DB =